header table {
	text-align: center;
	font-size: 1.5rem;
}

nav ul a
{
	
	font-size: 2.0rem;
	text-align: justify-all;
	margin-right:100px;
	margin-left: 100px;

	
}

h1
{
	text-align: center;
}

section table tr td figcaption
{
	text-align: center;
}

h2	{
	text-align: center;
}
section figure object {
	text-align: center;
}

section table tr td	figure

{
	text-align: center;
}