header section
{
	 font-size: 2.5rem;
	 border: 2px solid #aaaaaa; 
	 text-align: center;
	 border-color: #000
 }

div button a 
{
	text-align: center;
	font-size: 2.0rem;

	
}

div article
{
	text-align: center;
	font-size: 1.5rem;
}

div button{

}

