header table {
	text-align: center;
	font-size: 1.5rem;
}
nav ul a
{
	
	font-size: 2.0rem;
	text-align: center;
	margin-right: 350px;
	
}
section table tr td b
{
	text-align: center;
}
h1
{
	text-align: center;
}
