body
{
	
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	max-width: 100%


}
#contenido
{
	width: 960px;
	margin: 0 auto;
	text-align: center;
}
h1
{
	color:#000000;
	text-shadow:2px 2px #FFC65D;

}
h2
{
	color:#F16745;

}
nav ul li
{
	display: inline-block;
	margin-right: 15px;
	color:#FF0000;
	cursor: pointer;
	padding: 2px;

	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all o.5s linear;
}

	nav ul li:hover
{
	background-color: #1d1d1d;
	color: #e44e2d;
	border-radius: 5px;
}
#textoPr
{
	width: 400px;
	height:200px;
	background-color:#32acc2;  
	color:#fff;      
	margin:0 auto;
	text-align:center;
	border-radius: 10px;
	padding: 10px;
	text-transform: lowercase;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	display: inline-block;
	
}
a 
{
	color:#FF0000;
	font-weight: bold;
}
ul li
{
	text-align: left;
	color: #404040;
	margin-right: 20px;

}

header hgroup nav ul li a
{
	color:#FF0000;

}